.container-footer {
    width: 1110px;
    height: 30px;
    margin-top: 0px;
    margin-left: 125px;
}

.projects2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-left: 0px;
}

.contact2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    border: none;
    background-color: white;
}

.projects2:hover, .contact2:hover {
    background-color: rgb(180, 179, 179);
    border-radius: 5px;
}

.social-img {
    width: 95px;
    height: 15px;
    margin-top: 0px;
    margin-left: 1050px;
}