.container-awards {
    max-width: 1110px;
    width: 100%;
    border-top: 1px black;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid-awards {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
.awwwards {
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    /*width: 121px;
    height: 28px;
    top: 50px;
    left: 1px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;*/
}

.site-of-the-day1 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    /*width: 125px;
    height: 23px;
    
    top: 50px;
    left: 475px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;*/
}

.genesis-kit {
    color: black;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 38px;
    /*width: 200px;
    height: 20px;
    
    top: 60px;
    left: 760px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;*/
}

.best-navigation {
    width: 135px;
    height: 23px;
    
    top: 240px;
    left: 475px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
}

.first-year {
    width: 39px;
    height: 20px;
    top: 53px;
    left: 1071px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.genesis-template {
    width: 190px;
    height: 110px;
    top: 53px;
    left: 760px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.second-year {
    width: 39px;
    height: 20px;
    top: 243px;
    left: 1071px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.container-design-awards {
    width: 1110px;
    height: 412px;
    margin-top: 100px;
    margin-left: 125px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.css-design-awards {
    width: 198px;
    height: 28px;
    top: 50px;
    left: 1px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}

.site-of-the-day2 {
    width: 125px;
    height: 23px;
    
    top: 50px;
    left: 475px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.genesis-kit2 {
    width: 200px;
    height: 20px;
    
    top: 60px;
    left: 760px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.third-year {
    width: 39px;
    height: 20px;
    top: 53px;
    left: 1071px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.best-navigation2 {
    width: 135px;
    height: 23px;
    
    top: 240px;
    left: 475px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
}

.genesis-template2 {
    width: 190px;
    height: 110px;
    top: 53px;
    left: 760px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.fourth-year {
    width: 39px;
    height: 20px;
    top: 243px;
    left: 1071px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}