.container-group {
    width: 1079px;
    height: 106px;
    margin-top: 2626px;
    margin-left: 126px;
    display: flex;
}

.group1 {
    font-family: "Mulish", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 28px;
}

.multimedia {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #111111;

}
.interactive-design {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #111111;
}
.branding {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #111111;
}
.creative-design {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #111111;
}
.packaging {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #111111;
}


