.container-menu {
    width: 1109px;
    height: 30px;
    margin-top: 61px;
    margin-left: 126px;
    display: flex;
}

.projects {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-left: 947px;
}

.projects:hover, .contact:hover {
    background-color: rgb(180, 179, 179);
    border-radius: 5px;
}

.contact {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    border: none;
    background-color: white;
}