.container-quote {
    width: 250px;
    height: 34px;
    margin-top: -80px;
    margin-left: 950px;
    opacity: 60%;

}

.quote {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 23px;

}