.container-title {
    margin-top: 180px;
    margin-left: 125px;
    width: 635px;
    height: 251px;
}

.title1 {
    font-family: 'Mulish', sans-serif;
    color: #4A4FF2;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

}
.title2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;

}

.purple-txt {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: #4A4FF2;
}